    .floating-label {
        position: relative;
        margin-bottom: 22px;
    }
    .floating-input,
    .floating-select {
        font-size: 16px;
        padding: 4px 2px;
        display: block;
        width: 100%;
        background-color: transparent;
        border: none;
        box-shadow: unset;
    }

    .multi-select__label {
        position: absolute;
        z-index: 1;
        top: 10px;
    }
    .multi-select__label.float-label {
        top: -13px;
        color: gray;
    }

    .floating-label label {
        font-size: 16px;
        position: absolute !important;
        pointer-events: none;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .multiselect {
        &__tags {
            background-color: #000 !important;
        }
        .multiselect__content-wrapper {
            display: none !important;
            visibility: hidden !important;
            color: transparent !important;
            background-color: #000 !important;
            border: none !important;
            z-index: -1 !important;
            height: 0 !important;
            max-height: 0 !important;
            overflow: hidden;
        }

        .multiselect__option {
            display: none !important;
            padding: 0 !important;
        }

        &__tags .multiselect__input {
            margin-bottom: 0 !important;
        }
    }
    label.focused,
    .floating-input:focus ~ label,
    .floating-select:focus ~ label,
    .floating-input:not(:placeholder-shown) ~ label,
    .floating-textarea.focused ~ label,
    .multiselect--active ~ label,
    .floating-textarea ~ label.focused,
    .floating-select ~ label.focused {
        top: -15px;
        color: gray;
        font-size: 14px;
    }

    /* active state */
    .floating-input:focus ~ .bar:before,
    .floating-input:focus ~ .bar:after,
    .floating-select:focus ~ .bar:before,
    .floating-select:focus ~ .bar:after {
        width: 50%;
    }

    .floating-textarea {
        min-height: 40px;
        max-height: 260px;
        overflow-x: hidden;
        overflow-y: auto;
    }